<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sunny-echo" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>echo</name>
    <js-module name="echo" src="www/echo.js">
        <clobbers target="cordova.plugins.echo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo" >
                <param name="android-package" value="org.apache.cordova.demo.Echo"/>
            </feature>
        </config-file>

        <source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/demo" />
    </platform>
    
</plugin>
